/* ============================================= */
/*              Gallery                      */
/* ============================================= */

.photo-gallery {
    margin-top: 50px;
}

@for $i from 1 through 3 {
    .gallery-#{$i} {
       @include flexy($direction: row, $basis: 1, $justify: center); 
    }
    
    .gallery-#{$i} > img:last-of-type {
        padding-right: 0;
    }
}

.gallery {
    &-3 > img {
        padding-bottom: 0;
    }
}


img {
    padding-right: 40px;
    padding-bottom: 40px;
}