/* ============================================= */
/*              Gallery                      */
/* ============================================= */

.photo-gallery {
    margin-top: 40px;
    max-width: 1200px;
    @include flexy($direction: row, $justify: center, $wrap: wrap);
    
    & a:hover {
        transform: scale(1.1);
    }
}


a {
    transition: transform 0.5s ease;
}

img {
    margin: 0 40px 40px 40px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}



img.lb-image {
    margin: 0;
    padding: 0;
}
