/* ============================================= */
/*              Media Query                     */
/* ============================================= */
@include mqm(976px) {
    @for $i from 1 through 3 {
        .gallery-#{$i} img {
            width: 150px;
        }
    }
}

@include mqm(777px) {
    @for $i from 1 through 3 {
        .gallery-#{$i} img {
            width: 100px;
        }
    }
}

@include mqm(536px) {
    .gallery {
        &-3 a:last-of-type img:last-of-type {
            margin-top: 40px;
            margin-right: 40px;
        }

        &-1 a:last-of-type img:last-of-type,
        &-2 a:last-of-type img:last-of-type {
            margin-right: 40px;
        }
    }
}

@include mqm(499px) {
    @for $i from 1 through 3 {
        .gallery-#{$i} img {
            width: 50px;
        }
    }
}

@include mqm(320px) {
    @for $i from 1 through 3 {
        .gallery-#{$i} img {
            width: 30px;
        }
    }
}

@include mq(499px) {
    #search {
        width: 40%;
        height: 40px;
    }
}
