/* ============================================= */
/*              Search Bar                      */
/* ============================================= */

.search-bar {
    margin: 20px 0;
}

#search {
    border-radius: 5px;
    border: 1px solid lighten(#ccc, 5%);
    font-size: 1.5em;
    padding-left: 5px;
    height: 40px;
    &:focus {
        border: 1px solid darken(#ccc, 30%);
    }
}